.imageBox {
    object-fit: cover;
    object-position: center;
    height: clamp(20rem, 50vw, 30rem);
    border-radius: var(--image_design, 326.5px 0px 123px)
}


.br-tl {
    height: clamp(20rem, 50vw, 30rem);
    --image_design: 0px 80px 0px 20px;
}

.br-full {
    height: clamp(20rem, 25vw, 30rem);
    --image_design: 70px;

}